header {
  background-color: #4a154b;
  color: white;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
  background-size: cover;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: left;
  width: 220px;
}

.dropdown-content a {
  color: black;
  display: block;
  text-decoration: none;
  margin: 5px 0;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav ul li button#srch {
  margin-left: auto;
  position: relative;
  left: 181px;
  margin-right: 150px;
}

input {
  width: 436px;
  height: 50px;
  border-radius: 50px;
  margin-top: 0.5rem;
  background-color: white;
  position: relative;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.x {
  position: absolute;
  right: 14px;
  top: 16px;
  cursor: pointer;
  color: black;
  width: 50px;
}

#srch:hover {
  background-color: white;
}

.header-content {
  margin-top: 20px;
  text-align: left;
  font-weight: 700;
  line-height: 1.0625;
  letter-spacing: -1.5px;
}

img {
  display: flex;
  align-items: center;
  width: 125px;
}

.free {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent !important;
  padding: 0.75rem 1rem;
  width: 170px;
  height: 56px;
  border-radius: 10px;
  margin-right: 10px;
}

.us {
  background-color: white !important;
  color: #4a154b;
  padding: 0.75rem 1rem;
  width: 170px;
  height: 56px;
  border-radius: 10px;
}

.sign {
  color: white;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI",
    Tahoma, Arial, sans-serif;
      margin-right: 50px;
}

#srch {
  background-color: transparent !important;
  
}

.hp {
  position: relative;
  bottom: 61px;
  font-size: 1.25rem;
  letter-spacing: initial;
}

.h1p {
  color: #ecb22f;
  position: relative;
  bottom: 36px;
}

.discount-button {
  background-color: white;
  color: #4a154b;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-right: 10px;
}

.google-signup-button {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.hbtn {
  position: relative;
  bottom: 70px;
}

.slack {
  position: relative;
  bottom: 60px;
  letter-spacing: initial;
}