body {
  font-family: "Lato", sans-serif;
  color: #2c2d30;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

header {
  background-color: #611f69;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

footer {
  background-color: #611f69;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
